@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-size: 200% 200%; /* Aumenta o tamanho do fundo para a animação */
  /* Gradiente com tons de amarelo claro, amarelo e cinza claro */
  background-image: linear-gradient(to bottom right, #fef9c3, #fef08a, #f3f4f6);
  animation: gradient-animation 10s ease infinite; /* Aplica a animação */
}

html {
  height: 100vh;
}

body {
  @apply animated-gradient text-gray-800;
}
